<a href="https://colab.research.google.com/github/varunxsensei/ML_From_Stratch/blob/main/gradient_descent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv("Salary_dataset.csv",usecols=["YearsExperience","Salary"])

In [11]:
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [33]:
y_train

23    113813.0
6      60151.0
3      43526.0
20     91739.0
5      56643.0
27    112636.0
12     56958.0
4      39892.0
10     63219.0
16     66030.0
28    122392.0
25    105583.0
17     83089.0
2      37732.0
7      54446.0
26    116970.0
24    109432.0
18     81364.0
11     55795.0
22    101303.0
29    121873.0
13     57082.0
15     67939.0
8      64446.0
Name: Salary, dtype: float64

In [44]:
class GDRegressor:
  def __init__(self,epochs,learning_rate):
    self.epochs = epochs
    self.learning_rate = learning_rate
    self.coef_ = None
    self.intercept_ = None

  def fit(self,X_train,y_train):
    self.coef_ = np.ones(X_train.shape[1])
    print(self.coef_.shape)
    self.intercept_ = 0
    for i in range(self.epochs):
      y_pred = np.dot(X_train.values,self.coef_) + self.intercept_
      slope_b = -2 * np.sum((y_train.values - y_pred)*X_train.values)/X_train.shape[0]
      intercept_b = -2 * np.sum(y_train.values - y_pred)/X_train.shape[0]
      self.intercept_ = self.intercept_ - (self.learning_rate*intercept_b)
      self.coef_ = self.coef_ - (self.learning_rate*slope_b)
    print(self.intercept_)
    print(self.coef_)

  def predict(self,X_test):
    return np.dot(X_test.values,self.coef_) + self.intercept_

In [45]:
X_train,X_test,y_train,y_test = train_test_split(df.drop("Salary",axis=1),df["Salary"],test_size=0.2,random_state=2)

In [46]:
X_train.shape,X_test.shape

((24, 1), (6, 1))

In [60]:
reg = GDRegressor(epochs=1000,learning_rate=0.0005)

In [61]:
reg.fit(X_train,y_train)

(1,)
98.65696356387667
[13625.52666817]

In [62]:
y_pred = reg.predict(X_test)

In [63]:
from sklearn.metrics import r2_score

In [64]:
r2_score(y_test,y_pred)

0.5370531913830003